.body{
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    width: 40%;
    margin: auto;
    margin-top: 50px;
    min-height: 400px;
    text-align: center;
}

.isStriked{
text-decoration: line-through;
}
.todoapp{
    background-color: aquamarine;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    margin-bottom: 12px;
}
.inp{
    width: 90%;
    font-size: 23px;
}
.btn{
    width: 37px;
    height: 35px;
    color: green;
}
.totdoItems{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 20px;
   background-color: burlywood;
}
